.wrapper {
  margin-top: 50px;
  min-height: 350px;
}

.index #footer {
  height: 400px;
}

.wrapper #footer {
  background: red !important;
}

body {
  font-family: $serif;
  font-size: $font_size_1 * 1.5;
  line-height: 35px;
  color: #333333;
  font-weight: 400;
  a { color: #004080; }
}

.about .about a {
  text-decoration: none;
  -moz-animation: about 5s linear infinite alternate;
  animation: about 5s linear infinite alternate;
}

.contaier {
  @include outer-container;
  padding: 0;
  @include media(min-width $tablet ) {
    padding: $extra_space 0;
    width: 60%;
    margin-top: $extra_space;
  }

}

#header, #footer {
  @include row();
  // a { color: #004080; }
}

#footer {
  background: #dad7c7;
  padding: 1em 0 5em;
  border-top: 1px solid #8C8B81;
  a { color: #8C8B81; }
}


nav {
  @include media(min-width $tablet) {
    @include span-columns(7);
  }

  li {
    @include media(min-width $tablet ) {
      display: inline-block;
      a {
        display: inline-block;
        padding: $limited_space $small_space;
      }
    }
  }
}

.logo {
  text-transform: capitalize;
  @include media(min-width $tablet) {
    @include span-columns(5);
  }
  div a {
    text-decoration: none;
  }
}

.logo__name {
  font-weight: 600;
    font-size: $font_size_1 * 1.25;
    @include media(min-width  $laptop) {
      padding-bottom: 0.24em;
      font-size: $font_size_1 * 2;
    }
  }

  .job_title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #E0794A;
    font-size: 0.7em;
  }

.sub_nav__items {
  display: block;
}

.nav_links {
  font-style: italic;
  text-transform: capitalize;
  @include media(min-width $tablet) {
    text-align: right;
    margin-bottom: 0;
  }
}

.external_links {
  text-align: right;
  margin: 0;
}

.nav_links__external a {
  font-family: 'helvetica neaue', helvetica, 'sans serif';
  font-style: normal;
  font-size: 0.75em;
  font-weight: 100;
  // color: #449CFF;
  text-decoration: none;
  text-transform: lowercase;
}

  @-webkit-keyframes about {
    0%   {
      background-color: #F6FFC5;
      border-bottom: 5px solid #F1F8EF;
    }
    20%  {
      background-color: #F6FFC5;
      border-bottom: 5px solid #F5CDCE;
    }
    50%  {
      background-color: #BBF8F8;
      border-bottom: 5px solid #EBEBEB;
    }
    70%  {
      background-color: #F6FFC5;
      border-bottom: 5px solid #C4F7E2;
    }
    100% {
      background-color: #E3F8F0;
      border-bottom: 5px solid #E3F8F0;
    }
  }

  @-webkit-keyframes code {
    0%   {
      background-color: black;
      color: white;
      font-family: monospace;
      font-style: normal;
      text-transform: lowercase;
      border-bottom: 5px solid #0080FF;
    }
    50%  {
      background-color: #666666;
      color: #999999;
      font-family: monospace;
      text-transform: lowercase;
      font-style: normal;
      border-bottom: 5px solid #FFFF66;
    }
    100% {
      background-color: #4C4C4C;
      color: #B3B3B3 ;
      font-family: monospace;
      text-transform: lowercase;
      font-style: normal;
      border-bottom: 5px solid #FFCC66;
    }
  }

  @-webkit-keyframes work {
    0%   {
      background: #FFFFFF;
      color: #60CCA1
    }
    50%  {
      background: #88FFD6;
      color: #60CCA1;
    }
    80% {
      color: #60CCA1;
    }
    100% {
      background: white;
      color: #337758;
    }
  }

.about .about a {
  text-decoration: none;
  -moz-animation: about 5s linear infinite alternate;
  animation: about 5s linear infinite alternate;
}

.code .code a {
  text-decoration: none;
  -moz-animation: code 5s linear infinite alternate;
  animation: code 5s linear infinite alternate;
}

.work .work a {
  text-decoration: none;
  -moz-animation: work 5s linear infinite alternate;
  animation: work 5s linear infinite alternate;
  margin-top: -100px;
}


.current_status {
  -moz-animation: work 1s linear  alternate;
  animation: work 1s linear  alternate;
  padding: 0.5em;
  font-size: 1em;
  font-family: 'helvetica neue', 'helvetica', 'sans serif';
  color: black;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
}

.dave {
  @include span-columns(4);
  img { width: 100%; }
  margin-right: 2em;
  border-radius: 5px;
  margin-bottom: 2em;
}
