---
layout: demo
---



<label class='more_info' for='modal__button'>more info</label>
<input type="checkbox" id='modal__button'value="0"></input>


<div class='modal modal_background modal_visability modal__text'>
  <label for='modal__button' class='modal__close'>X</label>
    <div class='modal__text'>
      <h2>Transaction History</h2>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Msg</th>
          </tr>
        </thead>
        <tbody id="phone-numbers-list">
            <tr>
              <td>jan 19</td>
              <td>fooey</td>
              <td>barski</td>
            </tr>
        </tbody>
      </table>
  </div>
</div>

<!-- <div class='modal_background'></div> -->


 <!-- <label class='more_info' for='modal__button'>more info</label>
<input type="checkbox" id='modal__button'value="0"></input>
<div class='modal_background'></div>

<div class='modal'>
  <label for='modal__button' class='modal__close'>X</label>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

 -->
