* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Bangers", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20em;
  line-height: 1.5;
  color: #606c71; 
  background: #dad7c7;
  letter-spacing: 18px
}

