<footer id="footer">
  <nav>
    <ul class='external_links'>
      </li>
      <li class='nav_links__external'>
        <a href="http://www.github.com/woodall">github/woodall</a>
      </li>
      <li class='nav_links__external'>
        <a href="http://www.wwwoodall.com">freelance info</a>
      </li>
      <li class='nav_links__external'>
        <a href="http://wwwoodall.com/assets/dave_woodall_resume.pdf">resume.PDF</a>
      </li>
    </ul>
  </nav>
</footer><!-- /footer -->
