<header id="header">
  <section class='logo'>
    <div class='logo__name'>
      <a href="/dave-woodall/" title="dave woodall">dave woodall</a>
    </div>
    <div>
      <h3 class='job_title'>
        Ruby on Rails, javaScript, HTML/CSS
      </h3>
    </div>
  </section>
  <nav>
    <ul class='nav_links'>
      <li class='code'>
        <a href="/dave-woodall/code/" title="code">code</a>
      </li>
      <li class='about'>
        <a href="/dave-woodall/about/" title="about">about me</a>
      </li>
      <li>
        <%= mail_to 'dave@woodalls.me', 'contact' %>
      </li>
    </ul>
  </nav>
</header><!-- /header -->
