---
title: Welcome to Middleman
---

<p> I've been coding for 8 years and working professionally as a developer since 2012.
  I write
    <a href="/code" title="code">
      code
    </a>
  with remote (<i>Jira, Slack, GitHub</i>) teams and primarily work with Ruby on Rails and use Gems like New Relic and Devise where possible. I've invested time and money into learning about the various JavaScript frameworks including Angular, React, Backbone but have found that for most Rails projects - keeping JQuery organized inside ERB partials is sufficient. I deploy to Heroku for my own projects but have also dabbled with Capistrano.
</p>

<h2>Team playermanship</h2>
<p>
  As a former Art Director, I still enjoy UI/Design tasks like wire framing, UX diagrams, and mentoring graphic designers who want to learn to code.
</p>
<h2>B.C. &nbsp;<i>(before coding)</i></h2>
<p>
  I spent 17 years in small business, including three turnarounds, founding two companies, selling one. I estimate that I've sold a million t-shirts. I know the challenges of acquiring profitable, loyal, and happy customers so I do my best to treat everyone <i>(co-workers too!)</i> as my Number One Customer. I'm formally trained with a Masters in Finance because money is not easy to learn on the job.
</p>
