---
title: Welcome to Middleman
---

<div class='wrapper'>
  <%= image_tag 'tall.jpg', class: 'dave' %>

  <p>Hello and welcome to my professional website.</p>
  <p>
    I am a web developer actively exploring opportunities for full-time employment. Please review my <a href="/dave-woodall/code" title="code">code experience</a> to see if we might be a good match.
  </p>
</div>
